{% extends 'genomics/base.html' %}

{% block content %}
    <div class='row'>
        <div class='col-xs-4'>
            <h1>Gene {{ gene }}</h1>
            <div class='list-group'>
                <div class='list-group-item'>
                    <h4 class='list-group-item-heading'>Ensembl Gene ID</h4>
                    <p class='list-group-item-text'>{{ gene.ens_gene }}</p>
                </div>
                <div class='list-group-item'>
                    <h4 class='list-group-item-heading'>Chromosome</h4>
                    <p class='list-group-item-text'>{{ gene.chromosome }}</p>
                </div>
                <div class='list-group-item'>
                    <h4 class='list-group-item-heading'>Active</h4>
                    <p class='list-group-item-text'>{{ gene.active }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- TODO: Insert table of `Diseases` associated with this `Gene` instance -->
{% endblock %}
